.nitification-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  border: 1px solid #e5e5e5;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 20px;
}
.notification {
  display: flex;
  flex-direction: row;
}
.cancel-icon {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .nitification-container {
    width: 60vw;
  }
}
